<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Manage Subject
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Subject Management</li>
        <li class="active">Manage Subject</li>
      </ol>
    </section>
    <section class="content">
        <div class="row">
        <div class="col-xs-12">
            <div class="box">
            <div class="box-header">
                <h3 class="box-title pull-left">All Subjects</h3>
                <a href="#" onclick="return false;" data-toggle="modal" data-target="#addSubject" class="pull-right btn btn-primary">Add New Subject</a>
            </div>
            <div class="box-body" *ngIf="this.tableShow">
                <table id="example" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>S.No</th>
                        <th>Subject Name</th>
                        <th>Course Name</th>
                        <th>Status</th>
                        <th>Created By</th>
                        <th>Created Date</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of subjectData;index as i">
                            <td>{{i+1}}</td>
                            <td>{{item.subject_name}}</td>
                            <td>{{item.course_name}}</td>
                            <td class="status" [ngClass]="(item.status=='active')?'active':'inactive'"><span>{{item.status}}</span></td>
                            <td>{{item.created_by}}</td>
                            <td>{{item.created_date | date:'y MMM d, h:mm:ss a'}}</td>
                            <td class="action-tab">
                                <a href="#" onclick="return false;" (click)="editSubjectClick(item)" class="btn-success"><i class="fa fa-pencil"></i></a>
                                <a href="#" onclick="return false;" (click)="deleteSubject(item.id)" class="btn-danger"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            </div>
        </div>
        </div>
    </section>
</div>

<div class="modal fade" id="addSubject">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Create Subject</h4>
        </div>

        <form [formGroup]="addSubjectForm" (ngSubmit)="addSubject();">
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 mb-2">
                      <flash type="addSubject"></flash>
                    </div>
                  </div>
                <div class="form-group">
                  <label for="courseId">Select Course</label>
                  <select class="form-control form-control-user" id="courseId" formControlName="courseId"
                   [ngClass]="{ 'is-invalid': (!!fval.courseId.touched || !!fval.courseId.dirty || submitted) && fval.courseId.errors }">
                    <option *ngFor=" let item of courseData;" value="{{item.id}}">{{item.course_name}}</option>
                  </select>
                  <div *ngIf="(!!fval.courseId.touched || !!fval.courseId.dirty || submitted) && !!fval.courseId.errors" class="invalid-feedback">
                      <div *ngIf="!!fval.courseId.errors.required">
                      Please provide a valid Course Name
                      </div>
                  </div>
                </div>
                <div class="form-group">
                    <label for="subjectName">Subject Name</label>
                    <input id="subjectName" type="text" formControlName="subjectName" class="form-control form-control-user"
                        placeholder="Category Name" [ngClass]="{ 'is-invalid': (!!fval.subjectName.touched || !!fval.subjectName.dirty || submitted) && fval.subjectName.errors }" />
                    <div *ngIf="(!!fval.subjectName.touched || !!fval.subjectName.dirty || submitted) && !!fval.subjectName.errors" class="invalid-feedback">
                        <div *ngIf="!!fval.subjectName.errors.required">
                        Please provide a valid Subject Name
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="status">Status</label>
                    <select id="status" formControlName="status" class="form-control form-control-user"
                        [ngClass]="{ 'is-invalid': (!!fval.status.touched || !!fval.status.dirty || submitted) && fval.status.errors }">
                        <option value="active">Active</option>
                        <option value="inactive">Inactive</option>
                    </select>
                    <div *ngIf="(!!fval.status.touched || !!fval.status.dirty || submitted) && !!fval.status.errors" class="invalid-feedback">
                        <div *ngIf="!!fval.status.errors.required">
                        Please provide a valid status
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
  <!-- /.modal -->

<div class="modal fade" id="editSubject">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Edit Subject</h4>
        </div>

        <form [formGroup]="editSubjectForm" (ngSubmit)="editSubject();">
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 mb-2">
                      <flash type="editSubject"></flash>
                    </div>
                  </div>
                <div class="form-group">
                  <label for="courseId">Select Course</label>
                  <select class="form-control form-control-user" id="courseId" formControlName="courseId"
                    [ngClass]="{ 'is-invalid': (!!fval.courseId.touched || !!fval.courseId.dirty || submitted) && fval.courseId.errors }">
                    <option *ngFor=" let item of courseData;" value="{{item.id}}">{{item.course_name}}</option>
                  </select>
                  <div *ngIf="(!!fval.courseId.touched || !!fval.courseId.dirty || submitted) && !!fval.courseId.errors" class="invalid-feedback">
                      <div *ngIf="!!fval.courseId.errors.required">
                      Please provide a valid Course Name
                      </div>
                  </div>
                </div>
                <div class="form-group">
                    <label for="subjectName">Subject Name</label>
                    <input type="text" formControlName="subjectName" class="form-control form-control-user"
                        placeholder="Subject Name" [ngClass]="{ 'is-invalid': (!!fvalEdit.subjectName.touched || !!fvalEdit.subjectName.dirty || submitted) && fvalEdit.subjectName.errors }" />
                    <div *ngIf="(!!fvalEdit.subjectName.touched || !!fvalEdit.subjectName.dirty || submitted) && !!fvalEdit.subjectName.errors" class="invalid-feedback">
                        <div *ngIf="!!fvalEdit.subjectName.errors.required">
                        Please provide a valid Subject Name
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="status">Status</label>
                    <select formControlName="status" class="form-control form-control-user"
                        [ngClass]="{ 'is-invalid': (!!fvalEdit.status.touched || !!fvalEdit.status.dirty || submitted) && fvalEdit.status.errors }">
                        <option value="active">Active</option>
                        <option value="inactive">Inactive</option>
                    </select>
                    <div *ngIf="(!!fvalEdit.status.touched || !!fvalEdit.status.dirty || submitted) && !!fvalEdit.status.errors" class="invalid-feedback">
                        <div *ngIf="!!fvalEdit.status.errors.required">
                        Please provide a valid status
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
  <!-- /.modal -->